.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 20rem;
  border-bottom: 1rem solid rgba(0, 0, 0, 0.092);
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 10rem;
  position: relative;
}

.profile h1 {
  font-size: 12rem;
  font-weight: 600;
  color: black;
  padding-right: 10rem;
}

.sign-in-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f7fa;
  border-radius: 30rem;
  padding: 10rem 10rem;
  color: #31285b;
  cursor: pointer;
  transition: 0.3s;
}

.sign-in-info:hover {
  background-color: rgba(0, 0, 255, 0.094);
}

.profile h2 {
  border-radius: 50rem;
  background-color: #3659e3;
  padding: 7rem 5rem;
  font-size: 12rem;
  margin: 0rem 10rem;
  color: white;
}
