.html {
  font-size: 100% !important;
}
.mainContainer {
  display: flex;
  flex-direction: column;
}
.container {
  width: 60%;
  margin: 20px auto;
  display: flex;
}
@media (max-width: 60em) {
  .container {
    margin-inline: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
}
.Routing {
  font-size: 14px;
  font-weight: 400;
  color: #3659e3;
  font: inherit;
  padding-top: 1.5px;
}
.RoutingContainer {
  display: flex;
  position: relative;
  padding-top: 40px;
  padding-left: 160px;
}
@media (max-width: 60em) {
  .RoutingContainer {
    padding-left: 5rem;
  }
}
.container img {
  width: 4em;
  height: 4em;
}
.ImageContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  fill: #dbdae3 !important;
  padding-right: 25px;
}
@media screen and (max-width: 60em) {
  .ImageContainer {
    visibility: hidden;
  }
}
.containerCol {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.mapImage {
  margin-top: 583px;
  margin-bottom: 275px;
}
@media screen and (max-width: 64em) {
  .mapImage {
    margin-top: 590px !important;
    /* margin-bottom: 290px; */
  }
}
.CalenderImage {
  width: 3.125em;
  height: 3.125em;
  fill: #dbdae3 !important;
}
.mapImage {
  width: 3.125em;
  height: 3.125em;
  fill: #dbdae3 !important;
}
.basicInfoImg {
  width: 3.125em;
  height: 3.125em;
}
.arrow {
  height: 1.5em;
  width: 1.5em;
  fill: #3659e3 !important;
}
