.dropdown-option i {
  width: 24rem;
}
.dropdown-option svg {
  display: flex;
  align-items: center;
  fill: #3d64ff;
}

.dropdown-option {
  justify-content: start;
  padding: 16rem 24rem;
  gap: 16rem;
  cursor: pointer;
}
.dropdown-option:hover {
  background-color: var(--grey-background);
}
.dropdown-option.primary:last-child {
  border-bottom: 2px solid var(--grey-background);
}

.dropdown-option__info span {
  color: var(--lighter-font-color);
  font-size: 12rem;
  line-height: 12rem;
}

.dropdown-option__info p {
  font-size: 14rem;
  position: relative;
  line-height: 22rem;
}

.dropdown-option__info {
  display: flex;
  flex-direction: column;
}
