.main {
  width: 80%;
  margin-left: auto;
}

.flex {
  display: flex;
}

.publish-preview__container {
  margin-top: 32px;
  margin-bottom: 60px;
}

.submit-card__container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  /* background-color: var(--grey-background); */
}

.submit-card__container button {
  background: var(--primary-orange);
  padding: 12px 16px;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.eds-radio__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 8px 0;
}

.eds-radio__input {
  visibility: visible;
  position: absolute;
  left: -9999px;
}

.radio-container {
  display: flex;
  gap: 10px;
  color: #39364f;
}

.options-label__container {
  display: flex;
  flex-direction: column;
}

.smaller {
  font-size: 12px;
}

.options-group {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 1152px) {
  .options-group {
    width: 75%;
  }
}
