.notfound {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 5vw;
    text-align: center;
    max-width: 1000px;
    color: #1E0A3C;
    line-height: 6vw;
}

.error {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    font-size: 3vw;
    color:  #6F7287;
}

@media only screen and (min-width: 768px) {
  .notfound {
    font-size: 60px;
    line-height: 60px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .error {
    font-size: 25px;
    margin-left: 30%;
    margin-right: 30%;
  }
}
