<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="EventCreator.module.css" />
    <link rel="stylesheet" href="EventCreator.module.css" />

    <title>Events</title>
  </head>

  <body>
    <header>
      <a href="https://www.eventbrite.com/organizations/home">eventbrite</a>
      <div class="profile">
        <div class="sign-in-info">
          <h2>Ma</h2>
          <h1>Muhammad Ahmad</h1>
          <i class="ri-arrow-down-s-line"></i>
        </div>
      </div>
    </header>

    <section>
      <div class="events">
        <div class="event-info">
          <h1>Events</h1>
        </div>
        <div class="info2">
          <h1>
            Events
            <hr />
          </h1>
          <h2>Collections</h2>
        </div>
        <div class="list">
          <div class="search">
            <form action="">
              <input type="search" placeholder="Search events" />
            </form>
          </div>
          <div class="list-icon">
            <div class="icon"><i class="ri-list-check"></i></div>
            <h1>List</h1>
          </div>
          <span>
            <hr />
          </span>
          <div class="All-events">
            <div class="all-events">
              <select
                id="event-filter"
                style="background-color: #3659e3; color: #fff"
              >
                <option value="All Events" selected>All events</option>
                <option value="due">Due events</option>
                <option value="upcoming">Upcoming events</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="Create-Event">
        <div class="create-event">
          <h1>Create Event</h1>
        </div>
      </div>
    </section>
  </body>
</html>
