.blo .main {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 50px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.first-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text {
  margin-bottom: 25px;
}

.text a {
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 26px;
  color: #f05537;
  font-weight: 900;
}

.text h1 {
  font-size: 50px;
  letter-spacing: -2px;
}

.h1 {
  color: #1e0a3c;
  padding-top: 30px;
  font-weight: 900;
}
.input {
  padding: 10px 20px;
  padding-left: 50px;
  width: 25vw;
  height: 7vh;
  border-color: rgba(0, 0, 0, 0.08);
}

.email form {
  padding-top: 10px;
}

.email {
  padding-bottom: 20px;
  width: 100%;
}

.cont button {
  background-color: #d1410c;
  border: 2px solid;
  border-radius: 6px;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  padding: 10px 75px;
  width: 25vw;
  height: 7vh;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.3, 1);
}

.cont {
  padding-bottom: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.no-account {
  display: flex;
  align-items: center;
  width: 25vw;
  height: 12vh;
  background: #fff;
  -webkit-box-shadow: 0 12px 32px rgba(46, 55, 77, 0.06);
  box-shadow: 0 12px 32px rgba(46, 55, 77, 0.06);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(5px);
}

.PopUpContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.PopUp {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  width: 45%;
  height: 75%;
}

.popup-exit {
  display: flex;
  justify-content: flex-end;
}

.popup-exit button {
  display: flex;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 20px;
}

.popup-exit button:hover {
  background-color: rgba(0, 0, 0, 0.037);
}

.popup-exit i {
  font-size: 18px;
}

.popup-icon {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 40px;
}

.popup-icon i {
  padding: 15px;
  border-radius: 100px;
  background-color: #eeedf2;
}
.popup-text p {
  padding-top: 20px;
}

.popup-input {
  padding: 20px 85px;
}

.popup-button button {
  padding: 12px 30px;
  background-color: #eeedf2;
  border-radius: 5px;
  color: #3659e3;
  border: 2px solid #a9a8b3;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.3, 1);
}

.popup-button button:hover {
  background-color: #d3d3d3;
}

.popup-button2 {
  padding-top: 30px;
}

.popup-button2 button {
  color: #3659e3;
  background-color: #ffffff;
}

.popup-button2 button:hover {
  text-decoration: underline;
}

.popup-back {
  padding-top: 30px;
  color: #3659e3;
}

.title {
  padding-left: 20px;
}

.title p {
  color: #39364f;
}

.title a {
  color: #3659e3;
}

.title a:hover {
  text-decoration: underline;
}
/* button h1 {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.049);
}

.cont2 {
  padding-top: 40px;
}

.cont2 button {
  border-radius: 6px;
  /* padding: 10px 45px; */
  width: 25vw;
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.138);
}

.cont2 button i {
  font-size: 30px;
  padding-right: 15px;
}

.sec-container {
  width: 50%;
}

.others-sign-in {
  padding-top: 40px;
  padding-bottom: 30px;
}

.others-sign-in p {
  font-family: Arial, Helvetica, sans-serif;
  color: #7c7a8a;
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 20px;
}

.others-sign-in i {
  font-size: 50px;
  margin-left: 30px;
  color: rgb(15, 58, 247);
}

.a {
  text-decoration: none;
  font-size: 13px;
}

.image {
  background-image: url(https://cdn.evbstatic.com/s3-build/perm_001/530d34/django/images/login/lateral-image-2.jpg);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 50%;
}

@media (max-width: 900px) {
  .first-container {
    font-size: 20px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 60%;
    left: 50%;
  }

  .sec-container {
    display: none;
  }
}

.form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.input-group {
  margin-bottom: 10px;
  position: relative;
}

.input-group h1 {
  color: rgba(0, 0, 0, 0.74);
  font-size: 10px;
  margin-top: -10px;
  padding-left: 3px;
  padding-bottom: 25px;
}

.button {
  background-color: #d1410c;
  border: 2px solid;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.3, 1);
  height: 45px;
  width: 100%;
}

.button:hover {
  background-color: #d1410cb5;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}

.row .input-group {
  flex-basis: 48%;
}

.log-in {
  padding-top: 50px;
}

.log-in a {
  color: rgba(0, 0, 255, 0.678);
  font-size: 15px;
  text-decoration: none;
}

@media (max-width: 850px) {
  .sec-container {
    display: none;
  }

  .first-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  height: 55px;
}

aside {
  width: 30%;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.title {
  font-size: 24px;
  line-height: 40px;
  margin: 20px 10px;
}

.container {
  width: 80%;
}

.cards {
  display: flex;
  align-items: flex-end;
  padding-right: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 24%;
  min-height: 124px;
  -webkit-box-shadow: 0 4px 4px #dbdae3;
  box-shadow: 0 4px 4px #dbdae3;
  border-radius: 6px;
  width: 33.3333333333%;
  padding: 20px;
  margin: 12px;
  height: 25vh;
}

h1 {
  font-size: 52px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #1e0a3c;
  font-weight: 900;
}

h2 {
  color: #39364f;
  font-size: 15px;
  line-height: 1.25rem;
  font-weight: 400;
}

span {
  font-size: 25px;
}

.Sales p {
  color: #1e0a3c;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0.5px;
  margin-right: -0.5px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.P2 p {
  line-height: 1rem;
  font-size: 13px;
  font-weight: 400;
}

.open {
  margin-top: auto;
  padding-top: 14px;
}

.open p {
  line-height: 1.5rem;
  font-size: 12px;
  font-weight: 500;
}

.open a {
  font-size: 12px;
  text-decoration: none;
  color: #3659e3;
}

.open a:hover {
  text-decoration: underline;
}

.mid-section {
  width: 100%;
  display: flex;
  padding-top: 25px;
  padding-bottom: 50px;
  justify-content: center;
}

.share {
  width: 67%;
}

.right-list {
  width: 30%;
  margin-top: -10px;
}

.down {
  padding-top: 25px;
}

.text h3 {
  font-size: 24px;
  line-height: 2rem;
  letter-spacing: 0.25px;
  margin-right: -0.25px;
  font-weight: 700;
  color: #1e0a3c;
  padding-left: 12px;
}

.list h3,
.recommended h3 {
  font-size: 18px;
  line-height: 1.75rem;
  letter-spacing: 0.25px;
  margin-right: -0.25px;
  font-weight: 600;
  color: #39364f;
}

.recommended {
  padding-top: 55px;
}

.url {
  padding-top: 40px;
  padding-left: 25px;
}

.share-on {
  padding-top: 35px;
  padding-left: 25px;
}

.url,
.share-on p,
a {
  font-size: 14px;
  font-weight: 600;
  color: #39364f;
  text-decoration: none;
}

.link,
.SM {
  padding-top: 12px;
}

.SM {
  margin-left: -10px;
}

.SM a {
  font-size: 25px;
  font-weight: 100;
  color: #4b4d63;
}

.SM i {
  padding: 8px;
}

.SM a :hover {
  background-color: rgba(0, 0, 0, 0.055);
  border-radius: 100px;
  transition: 1s;
}

.event-account {
  padding-top: 25px;
  display: flex;
}

.review-account p {
  font-size: 14px;
  line-height: 1.5rem;
  margin-top: -3px;
  padding-bottom: 10px;
}

.review-account a {
  color: #3659e3;
  font-size: 14px;
  font-weight: 600;
  word-spacing: -1px;
}

.review-account a:hover {
  text-decoration: underline;
}

.paid i {
  padding-right: 10px;
  font-size: 14px;
}

.Ads {
  padding-top: 6px;
}

.line {
  margin-top: 15px;
  margin-bottom: 12px;
}

.two {
  width: 100%;
}

hr {
  width: 95%;
  background-color: 1px solid #eeedf2;
}

.tickets,
.ticket {
  display: flex;
  align-items: center;
}

.tickets {
  margin-top: -15px;
  margin-left: -7px;
}

.ticket p {
  margin-right: 100px;
}

.ticket {
  margin-left: 200px;
}

.price a {
  margin-left: -8px;
  color: #3659e3;
}

.price a:hover {
  text-decoration: underline;
}

.price {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.price p {
  margin-right: 100px;
}

.other-attende {
  padding-bottom: 40px;
}

.other-attende p {
  font-size: 14px;
  color: #39364f;
  font-weight: 500;
}

.attende-responses a {
  font-size: 14px;
  color: #3659e3;
}

.attende-responses a:hover {
  text-decoration: underline;
}

.attende-responses i {
  margin-right: 10px;
}

.go-to {
  margin-top: -50px;
  padding-left: 440px;
  /* padding-bottom: 50px; */
}

.go-to a {
  color: #3659e3;
}

.go-to a:hover {
  text-decoration: underline;
}

.items {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: -60px;
}

.items p {
  font-size: 14px;
  color: #39364f;
  font-weight: 600;
}

.note {
  padding-top: 50px;
  width: 96%;
}

.eds-align--center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.eds-text-bm {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.all-orders {
  padding-top: 70px;
}
