.header {
  height: 72rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links__container {
  display: flex;
  height: 100%;
}

.header-links {
  display: flex;
  align-items: center;
  color: var(--dark-font-color);
  text-decoration: none;
  font-size: 13rem;
  font-weight: 600;
  padding: 0 20rem;
}

.header-links:hover {
  background-color: var(--grey-background);
}
