.header {
  height: 72rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-links__container {
  display: flex;
  height: 100%;
}
.header-links__container[data-auth="true"] .header-links {
  flex-direction: column;
  justify-content: center;
}

.header-links {
  display: flex;
  align-items: center;
  color: var(--dark-font-color);
  text-decoration: none;
  font-size: 13rem;
  font-weight: 600;
  padding: 0 20rem;
}

.header-links:hover {
  background-color: var(--grey-background);
}

.email-display {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row !important;
  gap: 5rem;
}
.email-display i {
  width: 24rem;
  height: 24rem;
}
.person-icon__container {
  width: 40rem;
  height: 40rem;
  background-color: #f8f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999rem;
}

.navLinks {
  position: absolute;
  min-width: 250px;
  overflow: auto;
  max-height: calc(100vh - 72px);
  background-color: white;
  z-index: 2;
  bottom: 0;
  transform: translateY(100%);
}

.navLinks li {
  padding: 16px 20px;
  color: var(--dark-font-color);
  cursor: pointer;
}

.navLinks li:hover {
  background-color: var(--grey-background);
}
