.bigger-container {
  display: flex;
}
.creator-left-nav-container {
  background-color: #f8f7fa;
  flex-direction: column;
  border-right: 0.25rem solid #eeedf2;
}
.structure-drawer-left-container {
  width: 30%;
  max-width: 200px;
  background-color: #f8f7fa;
  flex-direction: column;
  display: flex;
  /* overflow-y: scroll; */
}
.mid-container {
  position: relative;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  z-index: 20;
}
@media screen and (max-width: 40em) {
  .creator-left-nav-container {
    visibility: hidden;
    width: 0;
  }
  .structure-drawer-left-container {
    visibility: hidden;
    width: 0;
  }
  .mid-container {
    width: 100%;
  }
}
