.header-ticket {
  height: 72rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.header-ticket-links__container {
  display: flex;
  height: 100%;
}

.header-ticket-links {
  display: flex;
  align-items: center;
  color: var(--dark-font-color);
  text-decoration: none;
  font-size: 13rem;
  font-weight: 600;
  padding: 0 20rem;
}

.header-ticket-links:hover {
  background-color: var(--grey-background);
}

.profile-ticket {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 10rem;
  position: relative;
}

.profile-ticket h1 {
  font-size: 12rem;
  font-weight: 600;
  color: black;
  padding-right: 10rem;
}

.sign-in-info-ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f7fa;
  border-radius: 30rem;
  padding: 10rem 10rem;
  color: #31285b;
  cursor: pointer;
  transition: 0.3s;
}

.sign-in-info-ticket:hover {
  background-color: rgba(0, 0, 255, 0.094);
}

.profile-ticket h2 {
  border-radius: 50rem;
  background-color: #3659e3;
  padding: 7rem 5rem;
  font-size: 12rem;
  margin: 0rem 10rem;
  color: white;
}

.name-shortcut {
  padding: 7rem 7rem !important;
}
.break-line {
  border: 0.25rem solid #eeedf2;
}
