.ticket-logo-container {
  width: 80rem;
  margin: 80rem auto;
}
.span-ticket {
  border-radius: 50% !important;
  height: 100% !important;
  width: 100% !important;
  padding: 80rem auto;
  background-color: #f8f7fa;
}
.icon-background {
  background-color: #f8f7fa;
  border-radius: 50%;
}
.ticket-h1 {
  text-align: center;
  color: #1e0a3c;
  font-size: 20rem;
  letter-spacing: 0.25px;
  margin-top: -40px;
}
.paragraph-ticket {
  text-align: center;
  color: #6f7287;
  font-size: 12rem;
  font-weight: 400;
  margin-top: 3rem;
  width: 280rem;
}
.buttons-contariner {
  margin-top: 10rem;
  text-align: center;
}
.create-section-button {
  width: 150rem;
  height: 40rem;
  font-size: 12rem;
  padding: 0.5rem 30px;
  margin-right: 16px;
  border: 1rem solid #a9a8b3 !important;
  color: #39364f;
  border-radius: 2rem;
  background-color: #fff;
}
.add-tickets-button {
  width: 130rem;
  height: 40rem;
  background-color: #d1410c;
  color: #fff;
  font-size: 12rem;
  padding: 0.5rem 30px;
  border: 1rem solid #d1410c;
  border-radius: 2rem;
  padding: 0.5rem 30px;
}
