.container {
  width: 60%;
  margin: 20px auto;
  display: flex;
}
.Routing {
  font-size: 14px;
  font-weight: 400;
  color: #3659e3;
  /* text-align: left; */
  font: inherit;
  padding-top: 3.5px;
}
.RoutingContainer {
  display: flex;
  padding-top: 40px;
}
.container img {
  width: 4em;
  height: 4em;
}

.ImageContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* vertical-align: middle; */
}

.containerCol {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.mapImage {
  margin-top: 569px;
  margin-bottom: 265px;
}
.CalenderImage img {
  width: 3.15em;
  height: 2.5em;
}

.mapImage img {
  width: 3.25em;
  height: 2.75em;
}
/* .arrowBorder {
  display: contents;
  flex-direction: row;
} */
.arrow img {
  padding-left: 160px;
  display: flex;
  /* text-align: left; */
}

.h1 {
  color: #1e0a3c;
  font-size: 1.75rem;
  letter-spacing: 0.75px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 0.5rem;
}

.text {
  color: #39364f;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
  padding-left: 0.5em;
  text-rendering: optimizeLegibility;
}

.pBasic {
  width: 75%;
  vertical-align: top;
}

.EventTitle {
  margin-top: 16px;
  display: block;
  margin-bottom: 12px;
  padding: 1px;
}

.Organizer {
  margin-bottom: 8px;
}
.text1 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  display: block;
}
.Selectors {
  margin-top: 16px;
  display: flex;
  /* border: 0; */
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  padding-right: 8px;
}
.TagsBorder {
  margin-top: 16px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
/* .TypeLayout {
  width: 220;
  height: 50;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  display: flex;
  margin-bottom: 16px;
  padding-top: 1px;
  flex-direction: row;
  border-radius: 1px;
} */
.LabelTag {
  font-size: 1.2rem;
  line-height: 1.75rem;
  letter-spacing: 0.25px;
  margin-right: -0.25px;
  font-weight: 400;
  margin-bottom: 8px;
}
.textTag {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 16px;
  color: #39364f;
}
.AddTagDiv {
  margin-bottom: 16px;
  display: block;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.AddTagButton {
  width: 90px;
  height: 44px;
  position: relative;
  padding: 0 30px 1px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  border-radius: 4px;
  border: 2px solid #a9a8b3;
  border-color: #a9a8b3;
  color: #39364f;
  background-color: #fff;
}
.h1Location {
  color: #1e0a3c;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-right: -0.75px;
  font-weight: 750;
  margin-top: 35px;
  /* margin-bottom: 32px; */
}
.textLocation {
  /* width: 75%; */
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
}
.Buttons {
  margin-left: auto;
  margin-right: auto;
  line-height: 22px;
  font-weight: 400;
  display: flex;
  vertical-align: top;
  width: 100%;
  /* align-items: center; */
  /* box-sizing: border-box; */
  margin-bottom: 20px;
  margin-top: 20px;
}
.VenueButton {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  background-color: rgba(54, 89, 227, 0.1);
  border: 1px solid #3659e3;
  color: #3659e3;
  text-align: center;
  border-radius: 4px;
  width: 125px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* flex-grow: 1; */
  /* display: flex; */
  margin-right: 16px;
}
.OnlineEventButton {
  margin-right: 16px;
  color: #1e0a3c;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dbdae3;
  text-align: center;
  width: 155px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.TobeAnnounced {
  color: #1e0a3c;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dbdae3;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  width: 200px;
  padding-bottom: 12px;
}
.DateTimeButtons {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  display: flex;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  /* display: inline-block; */
}
.SingleEventButton {
  margin-right: 16px;
  font-size: 0.875rem;
  line-height: 1.5rem;
  width: 160px;
  font-weight: 400;
  background-color: rgba(54, 89, 227, 0.1);
  border: 1px solid #3659e3;
  color: #3659e3;
  border-radius: 4px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
}
.RecurringEventButton {
  margin-right: 16px;
  color: #1e0a3c;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dbdae3;
  text-align: center;
  width: 180px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.textDateTime2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.searchVenueLocation {
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  padding-bottom: 35px;
}
.pVenue {
  font-weight: 550;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 22px;
  color: #39364f;
}
.CheckboxLabel {
  display: block;
  position: relative;
  margin-top: 16px;
}
.CheckboxBorder {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.Checkbox {
  left: -12px;
  border-color: #3659e3;
  color: #3659e3;
  display: inline-block;
  border-radius: 2px;
  /* height: 20px;
  width: 20px; */
  font-weight: 400;
}
.DisplayTimeLabel {
  /* margin-left: 16px;
  margin-right: 12px; */
  color: #39364f;
  font-size: 14px;
  display: block;
  line-height: 22px;
  font-weight: 400;
}
.Labeltext {
  color: #4b4d63;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.StartPicker {
  display: flex;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}
.EndPicker {
  display: flex;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}
.TimeZone {
  margin-top: 24px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #39364f;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
  margin-bottom: 8px;
  background: #fff;
  padding: 1px;
  border-radius: 1px;
  border: 1px solid #dbdae3;
  flex: 1;
}
.Language {
  margin-top: 24px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #39364f;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
  margin-bottom: 8px;
  background: #fff;
  padding: 1px;
  border-radius: 1px;
  border: 1px solid #dbdae3;
  flex: 1;
}
.aside {
  display: flex;
  justify-content: space-between;
}
.letterNumber {
  text-align: right;
  font: inherit;
  color: #4b4d63;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 10px;
}
.letterNumberBorder {
  text-align: right;
  flex: 1 1 auto;
}
.letterRequired {
  font: inherit;
  color: red;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 10px;
  animation-name: fadeIn;
}
.letternumber1 {
  padding-left: 448px;
}
.addtaglimit {
  display: flex;
  font: inherit;
  color: #4b4d63;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-top: 10px;
  padding-bottom: 50px;
}
.containerDataTime {
  margin-top: 40px;
  margin-bottom: 32px;
}
