.search-bar {
  padding: 0;
  display: flex;
  border: none;
  align-items: center;
  background-color: var(--grey-background);
  border-radius: 1rem;
  width: 100%;
  max-width: 472rem;
  cursor: pointer;
  border: 1px solid var(--grey-background);
}

.search-bar__container {
  flex: 1 1 0;
}
