.search-bar {
  padding: 0;
  display: flex;
  border: none;
  align-items: center;
  background-color: #f8f7fa;
  border-radius: 1px;
  width: 100%;
  max-width: 472px;
  cursor: pointer;
  border: 1px solid #f8f7fa;
}

.search-bar i {
  margin-left: 12px;
}

.search-bar input {
  width: 100%;
  border: none;
  cursor: pointer;
  /* max-width: 472px; */
  font-size: 14px;
  line-height: 22px;
  padding: 12px 14px;
  background: transparent;
  font-weight: 600;
  /* border: 1px solid #f8f7fa; */
  /* color: #a9a8b3; */
}

.search-bar__container {
  flex: 1 1 0;
}
