.event-card__container {
  height: 100%;
  -webkit-box-shadow: 0 16px 64px -16px rgb(46 55 77 / 10%);
  box-shadow: 0 16px 64px -16px rgb(46 55 77 / 10%);
  font-size: 14rem;
  line-height: 24rem;
  transition: 0.25s linear;
  cursor: default;
  /* padding: 16rem; */
}
.event-card__container:hover {
  box-shadow: rgb(0 0 0 / 16%) 0px 10px 30px 0px,
    rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}

.event-card__container a {
  display: inline-block;
}

.event-card__container a img {
  width: 100%;
  height: auto;
}

.event-card__container main {
  padding: 24rem 16rem;
  position: relative;
  margin-top: -8rem;
}

.event-card__title {
  cursor: pointer;
  font-size: 18rem;
  font-weight: 700;
  -webkit-line-clamp: 3 !important;
  color: var(--dark-font-color);
}

.event-card__time {
  color: var(--lighter-orange);
  padding: 8rem 0 4rem;
  font-size: 14rem;
  font-weight: 600;
  line-height: 20rem;
}

.event-card__secondary-info {
  color: var(--lighter-font-color);
  line-height: 20rem;
}

.event-card__organizer-info {
  color: var(--dark-font-color);
  font-weight: 600;
  padding-top: 4rem;
  margin-top: 4rem;
  line-height: 20rem;
}

.event-card__followers {
  display: flex;
  align-items: center;
  gap: 8rem;
}
