.like-button {
  cursor: pointer;
  position: absolute;
  /* display: inline; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #dbdae3;
  top: 0;
  right: 8px;
  transform: translateY(-50%);
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.like-button i {
  display: block;
  height: 24px;
  width: 24px;
}

.like-button svg {
  height: 24px;
  width: 24px;
}

.like-button.clicked svg {
  fill: var(--lighter-orange);
}
